@using BlazorApp.Services
@inject ApiService Api

<div class="create-post-container">
    <h4>Opret nyt opslag</h4>

    <input @bind="title" placeholder="Titel.." />
    <input @bind="author" placeholder="Dit navn.." />

    <button @onclick="CreateNewPost">Opret opslag</button>

    @if (!string.IsNullOrEmpty(statusMessage))
    {
        <p class="@statusClass">@statusMessage</p>
    }

</div>

@code {
    private string title = "";
    private string author = "";
    private string? statusMessage;
    private string statusClass = "";


    [Parameter] public EventCallback OnPostCreated { get; set; }

    private async Task CreateNewPost()
    {
        if (string.IsNullOrWhiteSpace(title) || string.IsNullOrWhiteSpace(author))
        {
            statusMessage = "Udfyld begge felter.";
            statusClass = "error-message"; 
            return;
        }

        await Api.CreatePost(title, author);
        statusMessage = "Post oprettet!";
        statusClass = "success-message";

        title = "";
        author = "";

        if (OnPostCreated.HasDelegate)
            await OnPostCreated.InvokeAsync();
    }

}
