.contents {
    background-color: #f2f0eb;
    width: 600px;
    border: 2px solid #452d3d;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 6px;
}

th {
    text-align: left;
}

button {
    border: none;
    background-color: #452d3d;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #65425e;
}

.back-button {
    background-color: #452d3d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.back-button:hover {
    background-color: #65425e;
}
